:root {
  --bg-color: #fafafa;
  --bg-secondary-color: #f8f8f8;
  --bg-navbar-color: #fff;
  --text-color: #000;
  --text-secondary-color: #555;
  --primary-color: #1eaedb;
  --primary-button: #33c3f0;
  --border-color: #e1e1e1;
  --strong-color: #0fa0ce;
}
